.kbclose{cursor:pointer; padding: 1px 4px 2px}
.kbclose:hover{-moz-border-radius:9px;-webkit-border-radius:9px;border-radius:9px;background:DarkRed}
.kbhelp{font-size:120%;margin-right:5px}
.kb-toolbar-right{position:absolute;right:10px}

.kb-wrapper{-moz-border-radius:8px;-moz-box-shadow:-5px -5px 5px #888;-webkit-border-radius:8px;-webkit-box-shadow:-5px -5px 5px #888;background:#ccc;border-radius:8px;bottom:1px;box-shadow:-5px -5px 5px #888;display:table-row;width:800px;min-width:70px;padding:2px;position:fixed}

.kb-topbar{color:#FFF;display:block;font-size:10.998px;font-weight:700;line-height:14px;margin-bottom:1px;margin-right:4px;padding:1px 4px 2px;text-shadow:0 -1px 0 rgba(0,0,0,0.25);vertical-align:baseline;white-space:nowrap}
.kb-left{display:table-cell;padding-right:2px;float:left;width:55%}
.kb-right{display:table-cell;}
.kb-center{display:table-cell;}
.kb-section{position:relative;text-align:center}
.kb-area-title{-moz-border-radius:9px;-webkit-border-radius:9px;background:#7D92B9;border-radius:9px;padding:1px 9px 2px;position:relative}
.kb-area-title,.kb-letter-set-title,.kb-letter-set{color:#FFF;font-size:10.998px;font-weight:700;line-height:14px;text-shadow:0 -1px 0 rgba(0,0,0,0.25);vertical-align:baseline;white-space:nowrap}
.kb-letter-set{-moz-border-radius:3px;-webkit-border-radius:3px;background:#eee;border-radius:3px;display:inline-block;margin-bottom:1px;margin-left:1px;padding:1px 4px 2px;position:relative}
.kb-letter-set-title{-moz-border-radius:12px;-webkit-border-radius:12px;background:#7D92B9;border-radius:12px;float:left;padding:1px 4px;position:relative}
.kb-btn-group{display:inline-block;float:left;margin-left:.3em;position:relative;zoom:1}
.kb-btn-group > .kb-letter{-moz-border-radius:0;-webkit-border-radius:0;border-radius:0;float:left;margin-left:-1px;padding:0 4px;position:relative}
.kb-letter{-moz-border-radius:4px;-moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);-webkit-border-radius:4px;-webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);background:0 repeat-x #F5F5F5;border:1px solid #CCC;border-color:#E6E6E6 #E6E6E6 #B3B3B3;border-radius:4px;box-shadow:inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.05);color:#333;cursor:pointer;display:inline-block;filter:progid:dximagetransform.microsoft.gradient(enabled=false);font-size:13px;line-height:18px;margin:0;padding:4px 10px;position:relative;text-align:center;text-shadow:0 1px 1px rgba(255,255,255,0.75);vertical-align:middle}
.kb-btn-group > .kb-letter:first-child{-moz-border-radius-bottomleft:4px;-moz-border-radius-topleft:4px;-webkit-border-bottom-left-radius:4px;-webkit-border-top-left-radius:4px;border-bottom-left-radius:4px;border-top-left-radius:4px;margin-left:0}
.kb-btn-group:before,.kb-btn-group:after{content:"";display:table}
.kb-btn-group:after{clear:both}
.kb-btn-group + .kb-btn-group{margin-left:5px}
.kb-btn-group > .kb-letter:hover,.kb-btn-group > .kb-letter:focus,.kb-btn-group > .kb-letter:active,{z-index:2}
.kb-letter:hover,.kb-letter:active,.kb-letter[disabled]{background:#d9d9d9}
.kb-letter:active,.kb-letter.active{background:#ccc \9}
.kb-letter:hover{-moz-transition:background-position .1s linear;-ms-transition:background-position .1s linear;-o-transition:background-position .1s linear;-webkit-transition:background-position .1s linear;background:0 -15px #d9d9d9;color:#333;text-decoration:none;transition:background-position .1s linear}
.kb-letter:focus{outline:5px auto 0;outline-offset:-2px}
.kb-letter.active,.kb-letter:active{-moz-box-shadow:inset 0 2px 4px rgba(0,0,0,0.15), 0 1px 2px rgba(0,0,0,0.05);-webkit-box-shadow:inset 0 2px 4px rgba(0,0,0,0.15), 0 1px 2px rgba(0,0,0,0.05);background:#d9d9d9 \9;box-shadow:inset 0 2px 4px rgba(0,0,0,0.15), 0 1px 2px rgba(0,0,0,0.05);outline:0}
.kb-btn-group > .kb-letter:last-child,.kb-btn-group > .kb-letter:last-child,.kb-btn-group > .dropdown-toggle{-moz-border-radius-bottomright:4px;-moz-border-radius-topright:4px;-webkit-border-bottom-right-radius:4px;-webkit-border-top-right-radius:4px;border-bottom-right-radius:4px;border-top-right-radius:4px}
.kb-btn-group:first-child,.kb-letter:first-child{margin-left:0}


.kb-left-resize,.kb-right-resize,.kb-bottom-resize,.kb-mid-resize,.kb-top-resize{
  position:absolute;
  border:1px solid gray;
  width:0px;
  padding:0;
  margin:0;
}
.kb-left-resize{left:-1px;top:1em;bottom:1em;cursor:w-resize}
.kb-right-resize{right:-1px;top:1em;bottom:1em;cursor:e-resize}
.kb-mid-resize{top:1em;bottom:1em;cursor:w-resize;}
.kb-bottom-resize, .kb-top-resize{left:1em;right:1em;height:0px;width:auto}
.kb-top-resize{cursor:n-resize;top:-1px;}
.kb-bottom-resize{cursor:s-resize;bottom:-1px;}